
<% if current_user %>
<div class="row">
<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li>
      <a href="/logout">Logout</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
</nav>
</div>
    <% else %>
    <div class="row">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a href="/sessions/new">Login</a>
        </li>
        <li>
          <a href="/user/new">Signup</a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </nav>
  </div>
<% end %>




<div class="whole-ingredients">
  <h3>Pick Ingredients:</h3>
<div class="group-1">
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="milk"/>  milk</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="eggs"/> eggs</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="butter"/> butter</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="sour cream"/> sour cream</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="cream cheese"/> cream cheese</label>
</div>
</div>

<div class="group-2">
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="flour"/> flour</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="rice"/> rice</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="pasta"/> pasta</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="bread"/> brad</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="oats"/> oats</label>
</div>
</div>

<div class="group-3">
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="mayonnaise"/> mayonnaise</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="mustard"/> mustard</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="ketchup"/> ketchup</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="vinegar"/> vinegar</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="relish"/> relish</label>
</div>
</div>

<div class="group-4">
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="apple"/> apple</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="lemon"> lemon</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="banana"/> banana</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="orange"/> orange</label>
</div>
<div class="ingredient">
<label><input id="accept" name="accept" type="checkbox" value="strawberries"/> strawberries</label>
</div>
</div>
</div>



<div class="recipe">
<%= text_field_tag :search, params[:search_term], placeholder: "Add Single Ingredient", class: "single", :required => true, min:2%>
<%= submit_tag("+", class: "add") %>
</div>



<div class="box effect1">
<h3 class="confirm">Your Ingredients:   </h3>
</div>


<div class="recipe">
  <%= form_tag('/search', method: "get", id: "recipe-search") do %>
  <%= text_field_tag :search, params[:search_term], placeholder: "Search Recipes", class: "searchbar", type: "hidden"%>
  <%= submit_tag("Search", class: "search-recipe") %>
  <% end %>
</div>



<div class="container results">
<div class="row">


  <% @response.each do |recipe| %>
  <div class="col-sm-3 spots">
    <div class="gallery">


        <img src="<%= recipe["image"]  %>" height=150vh width=100% ></img><strong maxlength="10"><%= recipe["title"].first(30)%></strong>


    <% if current_user %>
      <%= form_tag('/save_recipe', method: "post", id: "save_recipe") do %>
      <input type="hidden" name="recipe_id" value="<%= recipe["image"] %>"/>
      <input type="hidden" name="recipe_title" value="<%= recipe["title"] %>"/>
      <button> Save Recipe </button>
      <div class="dropdown">
        <button class="dropbtn">Missing Ingredients</button>
      <div class="dropdown-content">
        <% @response.each do |recipe| %>
         <% recipe["missedIngredients"].each do |obj| %>
           <a> <%= obj["name"] %> </a>
         <% end  %>
         <% end %>
      </div>
    </div>
        <% end %>
      <% end %>
  </div>
</div>

  <% end %>

<!-- Eventually want to add a comment, but need to handle the case where they haven't searched yet -->
  <!-- <% if @response.count == 0 %>
        <h2 align="center"> No recipes available... time to go to the store! </h2>
  <% end %> -->

</div>
</div>
