<div class="edit-form">
  <h1>Edit</h1>
  <%= form_with model: @user do |f| %>
  <%= f.text_field :name, placeholder: "Name", class: 'individual-form'%><br>
  <%= f.text_field :email, placeholder: "email address", class: 'individual-form' %><br>
  <%= f.text_field :phone, placeholder: "Phone Number", class: 'individual-form'%><br>
  <%= f.password_field :password, placeholder: "Password", class: 'individual-form'%><br>
  <%= f.submit "Submit", class: "submit"%>
  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li >
        <a href="/logout" class="log">Logout</a>
      </li>
    </ul>
  </nav>

  <% end %>
</div>
